<% include ../layouts/admin/header.ejs %>

<br>

<div class="wrap">

	<div class="grid">
		
		<div class="unit-w-1-1">
			<form method="POST">
				<input type="password" name="password">
				<br>
				<br>
				<input type="text" name="permissions">
				<br>
				<br>
				<input class="button" type="submit" value="Submit">
			</form>
		</div>

	</div>

</div>


<% include ../layouts/admin/footer.ejs %>