</head>
<body>
	<% if (typeof message == 'object' && message) { %>
		<div><%= message %></div>
	<% } %>
	<div id="strapline" class="bottom-margin-8">
		<div class="wrap">
			<div class="grid">
				<div class="unit-w-1-5 pull-right">
					<ul id="auth-links" class="horizontal-list">
						<li><a href="/auth/profile">Profile</a></li>
						<li><a href="/article/create">Create Article</a></li>
						<li><a href="/auth/local-login">Local Login</a></li>
						<li><a href="/auth/local-signup">Local Signup</a></li>
						<li><a href="/auth/facebook-login">Facebook Login</a></li>
						<li><a href="/auth/google-login">Google Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="grid">
			<div class="unit w-1-1">
				<div id="logo" class="bottom-margin-8">
					<a href="/">JANN.cn</a>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="unit w-1-1">
				<div id="navigation-menus" class="bottom-margin-8">
					<ul>
						<li>
							A
						</li>
						<li>B</li>
						<li>C</li>
						<li>D</li>
						<li>E</li>
						<li>F</li>
					</ul>
				</div>
			</div>
		</div>