</head>
<body>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1377222465898438&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	
	<% if (typeof message == 'object' && message) { %>
	<div><%= message %></div>
	<% } %>
	<div id="strapline" class="bottom-margin-8">
		<div class="wrap">
			<div class="grid">
				<div class="unit-w-1-5 pull-right">
					<ul id="auth-links" class="horizontal-list">
						<li><a href="/auth/profile">Profile</a></li>
						<li><a href="/article/create">Create Article</a></li>
						<li><a href="/article/my-articles">My Articles</a></li>
						<li><a href="/auth/local-login">Local Login</a></li>
						<li><a href="/auth/local-signup">Local Signup</a></li>
						<li><a href="/auth/facebook-login">Facebook Login</a></li>
						<li><a href="/auth/google-login">Google Login</a></li>
						<li><a href="/auth/renren-login">RenRen Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="grid">
			<div class="unit w-1-1">
				<div id="logo" class="bottom-margin-8">
					<a href="/"><%= webFront.siteName %></a>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="unit w-1-1">
				<nav id="navigation-menus" class="bottom-margin-8">
					<ul>
						<li>
							<a href="/category/影片">影片</a>
						</li>
						<li>
							<a href="/category/生活">生活 》</a>
							<ul>
								<li>
									<a href="/category/生活/食物">食物</a>
								</li>
								<li>
									<a href="/category/生活/心理">心理</a>
								</li>
								<li>
									<a href="/category/生活/健康">健康</a>
								</li>
								<li>
									<a href="/category/生活/时尚">时尚</a>
								</li>
								<li>
									<a href="/category/生活/爱情">爱情</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/category/娱乐">娱乐</a>
						</li>
						<li>
							<a href="/category/爆笑">爆笑</a>
						</li>
						<li>
							<a href="/category/感动">感动</a>
						</li>
						<li>
							<a href="/category/动物">动物</a>
						</li>
						<li>
							<a href="/category/惊奇">惊奇 》</a>
							<ul>
								<li>
									<a href="/category/惊奇/地球">地球</a>
								</li>
								<li>
									<a href="/category/惊奇/社会">社会</a>
								</li>
								<li>
									<a href="/category/惊奇/历史">历史</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/category/艺术">艺术 》</a>
							<ul>
								<li>
									<a href="/category/艺术/建筑">建筑</a>
								</li>
								<li>
									<a href="/category/艺术/设计">设计</a>
								</li>
								<li>
									<a href="/category/艺术/摄影">摄影</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/category/表演">表演 》</a>
							<ul>
								<li>
									<a href="/category/表演/音乐">音乐</a>
								</li>
								<li>
									<a href="/category/表演/跳舞">跳舞</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/category/新闻">新闻</a>
						</li>
						<li>
							<a href="/category/旅游">旅游</a>
						</li>
						<li>
							<a href="/category/女性专区">女性专区</a>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>