<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="/gridism/gridism.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="strapline" class="bottom-margin-8">
		
	</div>
	<div class="wrap">
		<div class="grid">
			<div class="w-1-1">
				<div id="logo" class="bottom-margin-8">
					JANN.cn
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="w-1-1">
				<div id="navigation-menus" class="bottom-margin-8">
					<ul>
						<li>
							A
						</li>
						<li>B</li>
						<li>C</li>
						<li>D</li>
						<li>E</li>
						<li>F</li>
					</ul>
				</div>
			</div>
		</div>