<% include layouts/header.ejs %>

<div class="grid">
	<div class="unit w-1-3">
		<div class="item">
			<div>
				<img src="http://static.achica.com/Media/Promo/Homepage/0914_07_inspiration-from-india-canvas-print-oriental_580.jpg" alt="">
			</div>
			<div class="item-title">
				<h2>這個研究證明，酒後吐真言是真的！你不能再怪罪在酒醉身上啦！</h2>
			</div>
			<div class="item-tags">
				<a href="#">影片</a>
				<a href="#">感动</a>
				<a href="#">生活</a>
			</div>
			<div class="item-date margin-left-16">
				九月 8， 2014
			</div>

		</div>
		<div class="clear"></div>
	</div>
	<div class="unit w-1-3">
		<div class="item">
			<div>
				<img src="http://static.achica.com/Media/Promo/Homepage/0914_07_inspiration-from-india-canvas-print-oriental_580.jpg" alt="">
			</div>
			<div class="item-title">
				<h2>這個研究證明，酒後吐真言是真的！你不能再怪罪在酒醉身上啦！</h2>
			</div>
			<div class="item-tags">
				<a href="#">影片</a>
				<a href="#">感动</a>
			</div>
			<div class="item-date margin-left-16">
				九月 8， 2014
			</div>

		</div>
		<div class="clear"></div>
	</div>
	<div class="unit w-1-3">
		<div class="item">
			<div>
				<img src="http://static.achica.com/Media/Promo/Homepage/0914_07_inspiration-from-india-canvas-print-oriental_580.jpg" alt="">
			</div>
			<div class="item-title">
				<h2>這個研究證明，酒後吐真言是真的！你不能再怪罪在酒醉身上啦！</h2>
			</div>
			<div class="item-tags">
				<a href="#">影片</a>
			</div>
			<div class="item-date margin-left-16">
				九月 8， 2014
			</div>

		</div>
		<div class="clear"></div>
	</div>
	<div class="unit w-1-3">
		<div class="item">
			<div>
				<img src="http://static.achica.com/Media/Promo/Homepage/0914_07_inspiration-from-india-canvas-print-oriental_580.jpg" alt="">
			</div>
			<div class="item-title">
				<h2>這個研究證明，酒後吐真言是真的！你不能再怪罪在酒醉身上啦！</h2>
			</div>
			<div class="item-tags">
				<a href="#">影片</a>
			</div>
			<div class="item-date margin-left-16">
				九月 8， 2014
			</div>

		</div>
		<div class="clear"></div>
	</div>
</div>

<% include layouts/footer.ejs %>