<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>叫我姐姐</title>

	<link rel="stylesheet" href="/stylesheets/landing-page.css">

</head>
<body>
	
	<div class="page-top-padding">

	</div>

	
	<h1 class="title">
		叫我<span class="jie-jie">姐</span><span class="jie-jie">姐</span>
	</h1>

	<div class="subtitle">
		极致体验，尽在这儿
	</div>

	<div class="description">
		<p>“叫我姐姐”酷炫来袭！！</p>
	</div>

	<br>
	<br>

	<div>
		<img src="/images/en_generic_rgb_wo_45.png">
	</div>

	<br>
	<br>
	<br>

	<div class="phone">
		<div class="phone-wallpaper">
			<img src="/images/app_screen_01.jpg">
		</div>
	</div>

</body>
</html>