<div id="sidebar">
	
</div>

<script>

	setTimeout(function () {
		ajaxGet('/article/random', function (articles) {
			document.getElementById('sidebar').innerHTML = getSidebarHtml(articles);
		});
	}, 0);

</script>