body {
	margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Global Styling
-------------------------------- */
h2 { 
	font-size: 16px;
	font-weight: normal;
	color: #555;
	line-height: 24px;
}

.horizontal-list li {
	display: inline-block;
}

.clear { clear: both; }

/* Margin
-------------------------------- */
.bottom-margin-8 { margin: 0 0 8px 0; }
.margin-left-8 { margin: 0 0 0 8px; }
.margin-left-16 { margin: 0 0 0 16px; }

/* Logo
-------------------------------- */
#logo { font-size: 45px; }


/* Strap Line
-------------------------------- */
#strapline {
	min-height: 24px;
	border-bottom: 1px solid silver;
}

.auth-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Auth Login Links
*-------------------------------- */
#auth-links {
	margin: 4px 0 0 0;
	padding: 0;
}

/* Navigation Menu
-------------------------------- */
#navigation-menus {  }
#navigation-menus ul {
	margin: 0;
	padding: 0;
}
#navigation-menus li {
	display: inline-block;
	height: 16px;
	border: 1px solid pink;
}

/* Item
*-------------------------------- */
.item { }
.item h2 { margin: 8px 0 8px 0; }
.item .thumbnail { max-height: 220px; overflow: hidden; }
.item img { width: 100%; }
.item-title { max-height: 60px; overflow: hidden; }
.item-tags { float: left; }
.item-date { float: left; }


/* Article Create
*-------------------------------- */
#article-create textarea { width: 98%; height: 400px; }